body {
    background: #eee;
}

.selection {
    width: 600px;
    margin: 0 auto;
    background: #fff;
    padding: 0 20px;
    margin-top: 10%;
    border-radius: 3px;
    border: 1px solid #ddd;
    font-family: sans-serif;
    font-weight: 300;
}

h1 {
    text-align: center;
    color: #ccc;
    font-weight: 300;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
}

.reviewer img {
    vertical-align: middle;
       padding-right: 10px;
       width: 40px;
       height: 40px;
}
.reviewer span {
    float: right;
    padding-top: 5px;
    padding-right: 15px;
    font-size: 24px;
    color: #ccc;
}

input {
    width: 100%;
    padding: 10px;
    outline: none;
}

#nextReviewers {
    text-align: center;
}
#nextReviewers input[type="submit"] {
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    width: auto;
    cursor: pointer;
}